<div class="NavBar_wrapper" id="header">
    <div class="NavBar_logo">
        <a href="/">
            <img src="/img/logo.jpg" alt="fantasic">
        </a>
        <h4>HỌC LẬP TRÌNH ĐỂ ĐI LÀM</h4>
    </div>
    <div class="NavBar_center">
        <div class="">
            <div class="Search_wrapper">
                <div class="Search_icon"></div>
                <input type="text" class="Search_input" placeholder="Tìm kiếm khóa học, bài viết, video">
            </div>
        </div>
    </div>
    <div class="NavBar_action">
        <div class="NavBar_action-portal"></div>
        <button class="NavBar_login"><a style="color: black;" href="/acount/login">Đăng nhập</a></button>
        <button class="NavBar_Register"><a style="color: #fff;" href="/acount/register">Đăng ký</a></button>
    </div>
</div>