<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">CREATER-ITEM</h6>
          </div>
        </div>
        <div class="card-body">
          <div class="mb-3">

            <form method="POST" action="store">

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input name="name" type="text" class="form-control border px-3" id="exampleFormControlInput1"
                  placeholder="cource name">
              </div>

              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea name="description" class="form-control border px-3" id="exampleFormControlTextarea1"
                  rows="3"></textarea>
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">image</label>
                <input name="image" type="text" class="form-control border px-3" id="exampleFormControlInput1"
                  placeholder="img">
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">level</label>
                <input name="level" type="text" class="form-control border px-3" id="exampleFormControlInput1"
                  placeholder="level">
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>