
* {
    box-sizing: inherit;
}

a {
    text-decoration: none
}
/* bootap */
/* .no-transform {
    transition: none !important;
    transform: none !important;
} */

:root
{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#ee4d2d;
    --boder-color:#dbdbdb;
    --nav-height:34px;
    --header-height:120px;
    --header-with-search-height:calc(var(--header-height) - var(--nav-height));
    --star-gold-color:#ffce3e;
    --header_sort-bar-heigh:46px
}

html
{
    font-size: 70%;
    line-height: 1.6rem;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}

button {
    border: none;
    box-shadow: none;
    color: inherit;
    display: block;
    outline: none;
    padding: 0;
}

